.popup-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style for the video container */
.video-container {
    max-width: 500px; /* Set maximum width for the video container */
    max-height: 300px; /* Set maximum height for the video container */
}

/* Style for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.graph_nodes:hover {
    font-size: 101%;
  }

.mermaidTooltip{
    content: attr(data-tooltip);
    position: absolute;
    top: 100px; /* Adjust the position of the tooltip (above the node) */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%); /* Center the tooltip horizontally */
    background-color: rgba(0, 0, 0, 0.193);
    color: #00000057;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

